Source: cdcover
Section: text
Priority: optional
Maintainer: Roberto Suarez Soto <turgon@debian.org>
Build-Depends: debhelper
Standards-Version: 3.6.2

Package: cdcover
Architecture: any
Depends: ${shlibs:Depends}, texlive-latex-base
Description: Creating Data-CD Covers
 cdcover is a little commandline tool which creates
 user-defined data-cd covers.
